/* Set the default styles for common HTML elements */
body {
	margin:0; text-align:left;
	color:black; background-color:white;
	font-family:sans-serif; font-size:.75em;
}

/* Text formatting */
strong { font-weight:bold; }
u { text-decoration:underline; }
em { font-style:italic; }
sub { vertical-align:sub; }
sup { vertical-align:super; }
code { font-family:monospace; }

a { color:#0066CC; text-decoration:none; cursor:pointer; }
a:link { color:#0066CC; background-color:transparent; }
a:active { color:red; background-color:transparent; }
a:visited { color:#0066CC;  background-color:transparent; }
a:hover { color:#0066CC; background-color:transparent; text-decoration:underline; }

img { border:0; padding:2px; }

h1 { text-align:left; font-size:2em; margin-top:3px; margin-bottom:12px; }
h2 { margin-top:3px; font-size:1.75em;  }
h3 { margin-top:3px; font-size:1.5em; }
h4 { margin-top:3px; font-size:1em; font-weight:bold; }
h5 { margin-top:3px; font-weight:bold; }
h6 { margin:0; }

p { margin-top:4px; margin-bottom:4px; }

form {  }
fieldset {  }
legend { border:1px solid black; padding:4px 6px 4px 6px; background-color:#99cccc; font-size:1.25em; }
label { font-weight:bold; }
label.required { padding-left:15px; }
.required { background:url('images/icons/required_asterik.gif') no-repeat; }
input { font-size:.75em; }
button { font-size:.75em; }

table { border-collapse:separate; border:1px solid black; margin:3px 0 8px 0; overflow:auto; }
tr { }
td { padding:6px 4px 6px 4px; vertical-align:top; border-bottom:1px solid #dddddd; }
th { text-align:left; background-color:#dddddd; padding:6px 4px 6px 4px; vertical-align: top; font-weight:bold; border-bottom:1px solid #dddddd; }
th a:link,th a:visited { color:#3366cc; background-color:inherit; }

form table { border:none; }
form table th, form table td { border:none; }

ul { margin-top:4px; }
ul.compact,ul.compact li { list-style-type:none; margin:0; padding:0; }
li { margin-top:5px; margin-bottom:1px; }
li.current a { background-color:#cccccc; width:100%; }
ul.inline { list-style-type:none; }
ul.inline li { display:inline; margin-left:8px; margin-right:8px; }
ul.pageNavigation li { margin-right:2px; }

/* Banner */
#banner {
	height:126px;
	padding-left:16px;
	background:url('images/backgrounds/banner.png') top left no-repeat;
}
	#application_name {
		height: 62px;
		color:white; text-align:left;
		padding-top:90px; margin:1px;
		font-size:1.75em;
	}

	#location_name {
		position:absolute; top:20px; left:7px;
		width:304px; height:68px;
		background:url('images/logos/logo_with_text.png') top left no-repeat;
	}
	#location_name a {
		display:block;
		width:300px; height:64px; text-indent:-9999px;
	}
	#banner a { color:white; text-decoration:none; }

/* Menu Bar */
#menuBar { height:30px; border-top:2px solid black; border-bottom:2px solid black; }
#menuBar ul { list-style:none; margin:5px 0 0 0; padding:0; }
#menuBar li { display:inline; font-weight:bold; font-size:16px; margin-right:1em; }
#menuBar form { height:30px; margin:5px 5px 0 0; padding:0; float:right; }
#menuBar fieldset { border:none; margin:0; padding:0; }
#menuBar legend { display:none; }
#menuBar button { display:none; }

/* Side Panels */
#panel-container { padding-top:2px; padding-bottom:2px; }
#panel-one { }

/* Main Content */
#content-panel { }

/* Interface Boxes */
.interfaceBox { padding:1em; }
.interfaceBox img { margin-bottom:.5em; }
.interfaceBox h1 { font-size:1.75em; }
.interfaceBox h1 a {  }
.interfaceBox h1 a:link,.titleBar a:visited { color:white; background-color:transparent; }
.interfaceBox h1 form { margin:0; padding:0; display:inline; height:1em; }
.interfaceBox h1 form fieldset { margin:0; padding:0; border:0; display:inline; }


/* Controls how error messages are displayed */
#errorMessages { border:2px solid black; }
#errorMessages h1 { color:red; }
#warning { border:2px solid red; }
#warning h1 { background-color:red; }


/* Footer */
#footer { clear:both; margin-top:2em; }
#footer h1 { display:inline; font-size: 16px; color: #666666; margin:0 12px 12px 0; }
#footer ul { display:inline; list-style:none; margin:5px 0 0 0; padding:0; }
#footer li { display:inline; font-weight:bold; font-size:16px; margin-right:1em; }



/* For pages with tab-type system on them */

/* Page Navigation Stuff */
.pageNavigation { }
.pageNavigation li { display:inline; }
.pageNavigation a { }
.pageNavigation button { }




.breadcrumbs ul { list-style:none; margin:0; padding:0; }
.breadcrumbs li {
	display:inline; font-size:18px; font-weight:bold;
	padding-right:12px; background:url('images/buttons/breadcrumb.gif') no-repeat right;
}



/*  Custom buttons for forms */
button { cursor:pointer; overflow:hidden; vertical-align:middle; margin:8px 5px 2px 0px; font-size:1em; }
	button.addSmall { width:15px; height:15px; padding-top:15px; background: url('images/buttons/addSmall.gif') no-repeat; border:0; }
	button.delete { width:15px; height:15px; padding-top:15px; background: url('images/buttons/deleteSmall.gif') no-repeat; border:0; }
	button.login { width:52px; height:15px; padding-top:15px; background: url('images/buttons/login.gif') no-repeat; border:0; }

/* All hrefs that are to be rendered as buttons need to include the button class. */
/* Technique taken from http://www.evotech.net/blog/2007/09/css-image-replacement-method */
a.button {
	display:-moz-inline-box; /* Fix for Mozilla */
	display:inline-block;
	background:transparent none 0 0 no-repeat;
	font:0/0 Arial; /* Fix for Safari, With just font-size:0, Safari renders a 1px underline */
	color:rgba(255,255,255,0) !important; /* If Safari does render the underline, at least it will be white or transparent */
	overflow:hidden;
	vertical-align:middle;
}
/* Image Replacements for hrefs that are to be rendered as buttons */
a.add { width:15px; height:15px; background-image:url('images/buttons/addSmall.gif'); }
a.edit { width:15px; height:15px; background-image:url('images/buttons/editSmall.gif'); }
a.delete { width:15px; height:15px; background-image:url('images/buttons/deleteSmall.gif'); }
a.subscribe { width:22px; height:22px; background-image:url('images/buttons/mail_get.png'); }
a.unsubscribe { width:22px; height:22px; background-image:url('images/buttons/mail_delete.png'); }






/* Various Styles for text */
.copyright { text-align:center; font-size:9px; }
.comments { color:red; }
.money { text-align:right; }
.void,.void td { text-decoration:line-through; }
.total { border-top:1px solid black; text-align:right; }
.total td { padding-bottom:1em; }
.instructions { }
.unpublished { text-decoration:line-through; }

