#panel-container { width:100%; overflow:auto; }
#panel-one { width:590px; float:right; border-left:1px solid #999999; }
#content-panel { margin-right:590px; border-right:1px solid #999999; }

#footer { clear:both; }
