@import '../reset.css';
/* Set the default styles for common HTML elements */
body { color:black; background-color:white; margin:0px; font-family:sans-serif; font-size:10pt; text-align:left; }

/* Text formatting */
strong { font-weight:bold; }
u { text-decoration:underline; }
em { font-style:italic; }
sub { vertical-align:sub; }
sup { vertical-align:super; }
code { font-family:monospace; }

a { color:#0066CC; text-decoration:none; cursor:pointer; }
a:link { color:#0066CC; background-color:transparent; }
a:active { color:red; background-color:transparent; }
a:visited { color:#0066CC;  background-color:transparent; }
a:hover { color:#0066CC; background-color:transparent; text-decoration:underline; }

img { border:0; }

h1 { display:table; background:url('images/backgrounds/grey_gradient.gif') top left repeat-x; color:white; text-align:left; margin:.25em 0 .25em 0; font-size:14pt; padding:.25em .5em .25em .5em; }
h2 { margin:.5em 0em .25em 0em; font-size:13pt; font-weight:bold; }
h3 { margin-top:.5em; font-size:12pt; font-weight:bold; }
h4 { margin-top:.5em; font-size:11pt; font-weight:bold; }
h5 { margin-top:.5em; font-weight:bold; }
h6 { margin:0; }

p { margin-top:.5em; margin-bottom:.5em; }

form {  }
fieldset { }
legend { padding:.5em; background:url('images/backgrounds/grey_gradient.gif') top repeat-x; color:white; font-weight:bold; }
label { font-weight:normal; }
label.required {font-weight:bold; }
.required { font-weight:bold; }
input { font-family:sans-serif; font-size:8pt; }
button { font-size:9pt; }

ul { margin-top:.25em; }
ul.compact,ul.compact li { list-style-type:none; margin:0; padding:0; }
li { padding-top:5px; padding-bottom:5px; }
li.current a { background-color:#cccccc; width:100%; }

ul.inline { list-style-type:none; }
ul.inline li { display:inline; margin-left:1em; margin-right:1em; }

/* Top Banner stuff */
#banner { height:66px; border-bottom:2px solid black; background:url('images/banner_gradient.gif') top repeat-x; padding:2px 0 2px 2px; }
#application_name { height: 62px; background:url('images/logos/citylogo-white.gif') top left no-repeat; color:white; text-align:left; padding-top:12px; padding-left:80px; font-size:16pt; }
#location_name { position:absolute; top:38px; left:80px; color:white; text-align:left; font-size:10pt; padding-top:1px; }
#banner a { color:white; text-decoration:none; }

/* Side Panels */
#panel-one {  }
	#panel-one fieldset { border:0; }
	#panel-one legend { display:none; }
	#panel-one div { margin-bottom:2em; }
	#panel-one h1 { height:21px; }

#panel-one input { width:140px; }
	h1 form { margin:0; padding:0; display:inline; height:1em; }
	h1 form fieldset { margin:0; padding:0; border:0; display:inline; }
#login input { width:80px; }



/* Main Content */
.interfaceBox img { margin:0; }
.interfaceBox h1 {
		color:white;
		background:url('images/backgrounds/grey_gradient.gif') top left repeat-x;
		padding:.25em .5em .25em .5em;
	}
 .interfaceBox h1 a { margin:0px; height:20px; }
.interfaceBox h1 a:link,.titleBar a:visited { color:white; background-color:transparent; }
.interfaceBox h1 form { margin:0; padding:0; display:inline; height:1em; }
.interfaceBox h1 form fieldset { margin:0; padding:0; border:0; display:inline; }



/* Used to create a menu bar across any div */
.menuBar { width:100%; height:1.5em; overflow:auto; border-bottom:2px solid black; background-color:#FFFFFF; font-size:12px; }
.menuBar ul { width:100%; height:1em; list-style-type:none; margin:0; padding:0; }
.menuBar li { display:block; float:left; margin-left:1.5em; list-style-type:none; }
.menuBar a { font-weight:bold; }
	/* This lets us put small forms into the menubar without hurting the layout too bad */
	.menuBar form { margin:0; padding:0; display:inline; height:1em; }
	.menuBar form fieldset { margin:0; padding:0; border:0; display:inline; }

/* For pages with tab-type system on them */
.tabBar ul { list-style: none; margin:0; padding-bottom:7px; border-bottom:1px solid gray; font-weight:bold; white-space:nowrap; }
.tabBar li { display:inline; margin:0 2px; }
.tabBar a { border-bottom:4px solid white; color:#999999; }
.tabBar a.current { border-color:#ff6600; color:#0066ff; }
.tabBar a:hover { border-color:#ff6600; color:#666666; }

.tabPage { }
.tabPage > .interfaceBox { margin-left:1em; margin-right:1em; }

/* Page Navigation Stuff */
.pageNavigation { }
.pageNavigation li { display:inline; }
.pageNavigation a { }
.pageNavigation button { }

#footer { border-top:1px solid #999999; font-size:10pt; text-align:center; clear:both; }
#footer h1 {background:none; }
#footer p { font-size: 9px; color: #666666; margin:0 2em 2em 0; }
#footer ul { list-style-type:none; }
#footer li { padding:0px; }
#footer li a {display:inline; float:right; margin-right:1em; }

/*  Custom buttons */
button {
	cursor:pointer; overflow:hidden; vertical-align:middle;
	height:1.75em; border:1px solid grey; color:white;
	background: url('images/backgrounds/interface_gradient.gif') top left repeat-x;
}
	button.add { width:15px; height:15px; padding-top:15px; background: url('images/buttons/addSmall.gif') no-repeat; border:0; }
	button.edit { width:15px; height:15px; padding-top:15px; background: url('images/buttons/editSmall.gif') no-repeat; border:0; }
	button.delete { width:15px; height:15px; padding-top:15px; background: url('images/buttons/deleteSmall.gif') no-repeat; border:0; }
	button.excel { width:16px; height:16px; padding-top:16px; background: url('images/buttons/excel.gif') no-repeat; border:0; }
	button.print { width:16px; height:16px; padding-top:16px; background: url('images/buttons/print.gif') no-repeat; border:0; }
	button.previous { width:16px; height:16px; background-image:url('images/buttons/previous.png'); }
	button.next { width:16px; height:16px; padding-top:16px; background:url('images/buttons/next.png') no-repeat; border:0; }
	button.first { width:22px; height:22px; padding-top:22px; background:url('images/buttons/player_start.png') no-repeat; border:0; }
	button.last { width:22px; height:22px; padding-top:22px; background:url('images/buttons/player_end.png') no-repeat; border:0; }

/* Controls how error messages are displayed */
#errorMessages { border:2px solid black; }
#errorMessages h1 { color:red; background-color:inherit; }
#warning { border:2px solid red; }
#warning h1 { color:inherit; background-color:red; font-size:14pt; }

/* Various Styles for text */
.copyright { text-align:center; font-size:9px; }
.comments { color:red; }
.money { text-align:right; }
.void,.void td { text-decoration:line-through; }
.total { border-top:1px solid black; text-align:right; }
.total td { padding-bottom:1em; }
.instructions { }
.unpublished { text-decoration:line-through; }
