#panel-container { overflow:auto; padding-top: 10px; }
#panel-one
    {
    float:left;  width:250px;
    border:1px solid grey;
    margin-left:.5em; padding:0em .25em 0em .25em;
    }
#content-panel { margin-left:275px; }

table { border-collapse:collapse; margin:2px; }
tr { border-bottom:1px solid #bdbdbd; vertical-align:top; }
td { padding:.25em .5em .5em .5em; background-color:inherit; }
th { text-align:left; background-color:#dddddd; padding:.25em .5em; vertical-align:top; font-weight:bold; }
th a:link,th a:visited { color:#3366cc; background-color:inherit; }
form table { border:none; }

#panel-one ul { list-style-type:none; margin-left:.5em; padding:0; }
#panel-one ul a { display:inline; font-weight:bold; }
#panel-one li { background:url('images/bullet_textarrow_right.gif') no-repeat 0 .5em; padding:4px 1px 6px 15px; border-bottom:1px solid #bdbdbd; vertical-align:top; }

/* Breadcrumbs */
.breadcrumbs ul { list-style-type:none; }
.breadcrumbs li { display:inline; }
.breadcrumbs li a { padding-right:8px; background:url('images/buttons/breadcrumb.gif') no-repeat right; margin-right:8px; font-size:8pt; color:#333333; }